.cuchillos__title {
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    width: 85%;
    margin: auto;

    @include mediaquery-1{
        width: 85%;
        margin: auto;
    }
    @include mediaquery-3{
        width: 72%;
        margin: auto;
    }
    @include mediaquery-11{
        width: 100%;
        margin: auto;
        text-align: center;
    }
}
#container__cuchillos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main__productos__cuchillos {
    width: 250px;

    img{
        width: 15rem;
    }
    .main__productos__cuchillos-title {
        text-transform: capitalize;
        text-align: center;
        cursor: pointer;

        &:hover{
            color: $hoverColor1;
            transition: all 500ms;
        }
    }
    .main__productos__cuchillos-precio {
        font-weight: bolder;
        margin-top: 5px;
        text-align: center;
    }
}
#aside__cuchillos {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;

    .publicidad1{
        overflow: hidden;

        .publicidad1__img{
            width: 100%;
            transition: 0.5s;

            &:hover{
                transform: scale(1.05);
            }
        }
    }
    .publicidad2{
        overflow: hidden;

        .publicidad2__img{
            width: 100%;
            transition: 0.5s;

            &:hover{
                transform: scale(1.05);
            }
        }
    }
    .publicidad3{
        overflow: hidden;

        .publicidad3__img{
            width: 100%;
            transition: 0.5s;

            &:hover{
                transform: scale(1.05);
            }
        }
    }
}