@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
$font1: "Montserrat", sans-serif;

$hoverColor1: #d2691ecc;
$hoverColor2: #f0990c;