@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Inicio estilos index */
.header {
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: inset 2px rgba(0, 0, 0, 0.075);
  z-index: 1;
}

.logo {
  height: 4rem;
}

.navbar {
  padding: 0.5rem 1rem;
}

.nav-link {
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #d2691ecc;
  transition: all 500ms;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.aside__nosotros {
  display: flex;
  justify-content: space-between;
  padding: 10px 35px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  font-size: 12px;
}

.aside__nosotros1 p {
  margin-bottom: 0;
}

.aside__nosotros1:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}

.aside__nosotros2 {
  display: flex;
  gap: 35px;
}

.aside__nosotros2-p1 {
  margin-bottom: 0;
}

.aside__nosotros2-p2 {
  margin-bottom: 0;
}

.aside__nosotros2-p3 {
  margin-bottom: 0;
}

.aside__nosotros2-p1:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}

.aside__nosotros2-p2:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}

.aside__nosotros2-p3:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.whatsapp:hover {
  cursor: pointer;
}

.main__img {
  width: 100%;
  height: auto;
}

.main__img2 {
  display: none;
}

.main__title {
  font-size: 60px;
  font-weight: 600;
  color: rgba(210, 105, 30, 0.8);
  text-align: center;
  margin-top: 25px;
  letter-spacing: 5px;
  text-shadow: 5px 5px 5px #333;
}

.main__subtitle {
  font-size: 40px;
  font-weight: 600;
  color: rgba(210, 105, 30, 0.8);
  margin-bottom: 35px;
  text-align: center;
  text-shadow: 3px 3px 3px #333;
}

.main__envios-pagos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin-top: 65px;
  margin-bottom: 65px;
}

.main__envios-pagos-1 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img card1" "img card2";
  width: 65%;
  margin: auto;
  align-items: center;
}

.main__envios-pagos-1 i {
  grid-area: img;
  font-size: 25px;
}

.main__envios-pagos-1-p1 {
  grid-area: card1;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
}

.main__envios-pagos-1-p2 {
  grid-area: card2;
  text-transform: capitalize;
  margin-bottom: 0;
}

.main__envios-pagos-2 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img card1" "img card2";
  align-items: center;
  width: 65%;
  margin: auto;
}

.main__envios-pagos-2 i {
  grid-area: img;
  font-size: 30px;
}

.main__envios-pagos-2-p1 {
  grid-area: card1;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
}

.main__envios-pagos-2-p2 {
  grid-area: card2;
  text-transform: capitalize;
  margin-bottom: 0;
}

.main__envios-pagos-3 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img card1" "img card2";
  width: 65%;
  margin: auto;
  align-items: center;
}

.main__envios-pagos-3 i {
  grid-area: img;
  font-size: 30px;
}

.main__envios-pagos-3-p1 {
  grid-area: card1;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
}

.main__envios-pagos-3-p2 {
  grid-area: card2;
  text-transform: capitalize;
  margin-bottom: 0;
}

.section__categorias {
  background-color: rgba(128, 128, 128, 0.15);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../multimedia/fondocaballo.jpg);
  background-position: center;
  background-size: cover;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: "titulo titulo" "img1 img2";
  justify-items: center;
}

.section__categorias a {
  text-decoration: none;
}

.section__categorias__title {
  font-size: 30px;
  color: rgb(51, 51, 51);
  text-align: center;
  grid-area: titulo;
  padding-top: 45px;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 0;
}

.section__categorias1 {
  grid-area: img1;
}

.section__categorias1-img {
  transition: transform 0.5s;
  width: 27rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.section__categorias1-img:hover {
  transform: scale(1.03);
}

.section__categorias1-p {
  text-align: center;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  font-weight: 600;
}

.section__categorias1-p:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}

.section__categorias2 {
  grid-area: img2;
}

.section__categorias2-img {
  transition: transform 0.5s;
  width: 27rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.section__categorias2-img:hover {
  transform: scale(1.03);
}

.section__categorias2-p {
  text-align: center;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  font-weight: 600;
}

.section__categorias2-p:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}

.section__productos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 130px;
}

.section__productos h4 {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0;
  font-weight: 650;
}

.section__productos-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
  justify-items: center;
}

.section__productos-productos-1 {
  width: 250px;
  height: auto;
}

.section__productos-productos-1-img {
  transition: transform 0.5s;
  width: 16rem;
}

.section__productos-productos-1-img:hover {
  transform: scale(1.05);
}

.section__productos-productos-1-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 5px;
}

.section__productos-productos-1-title:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}

.section__productos-productos-1-precio {
  font-weight: bolder;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 0;
}

.section__productos-productos-2 {
  width: 250px;
  height: auto;
}

.section__productos-productos-2-img {
  transition: transform 0.5s;
  width: 16rem;
}

.section__productos-productos-2-img:hover {
  transform: scale(1.05);
}

.section__productos-productos-2-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 5px;
}

.section__productos-productos-2-title:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}

.section__productos-productos-2-precio {
  font-weight: bolder;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 0;
}

.section__productos-productos-3 {
  width: 250px;
  height: auto;
}

.section__productos-productos-3-img {
  transition: transform 0.5s;
  width: 16rem;
}

.section__productos-productos-3-img:hover {
  transform: scale(1.05);
}

.section__productos-productos-3-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 5px;
}

.section__productos-productos-3-title:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}

.section__productos-productos-3-precio {
  font-weight: bolder;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 0;
}

.section__productos-productos-4 {
  width: 250px;
  height: auto;
}

.section__productos-productos-4-img {
  transition: transform 0.5s;
  width: 16rem;
}

.section__productos-productos-4-img:hover {
  transform: scale(1.05);
}

.section__productos-productos-4-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 5px;
}

.section__productos-productos-4-title:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}

.section__productos-productos-4-precio {
  font-weight: bolder;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 0;
}

.nosotros h4 {
  text-align: center;
  margin-top: 75px;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: 700;
}

.nosotros__box {
  display: flex;
  font-size: 20px;
  width: 90%;
  margin: auto;
  gap: 15px;
}

.nosotros__box1 {
  border: #333 2px solid;
  border-radius: 5px;
  padding: 15px 25px;
  background-image: url(../multimedia/marco.png);
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 5px black;
  width: 90%;
  height: auto;
}

.nosotros__box1-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
}

.nosotros__box1-p {
  font-size: 18px;
}

.nosotros__box2 {
  border: #333 2px solid;
  border-radius: 5px;
  padding: 15px 25px;
  background-image: url(../multimedia/marco.png);
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 5px black;
  width: 90%;
  height: auto;
}

.nosotros__box2-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
}

.nosotros__box2-p {
  font-size: 18px;
}

.nosotros__box3 {
  border: #333 2px solid;
  border-radius: 5px;
  padding: 15px 25px;
  background-image: url(../multimedia/marco.png);
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 5px black;
  width: 90%;
  height: auto;
}

.nosotros__box3-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 700;
}

.nosotros__box3-p {
  font-size: 18px;
}

.prefooter {
  min-height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img1 img2" "img1 img3";
  gap: 25px;
  width: 70%;
  margin: auto;
  margin-top: 75px;
}

.prefooter1 {
  background-image: url(../multimedia/cuchilleriaguaschesca2.jpg);
  background-position: center;
  background-size: cover;
  grid-area: img1;
}

.prefooter2 {
  background-image: url(../multimedia/cuchilleriagauschesca.jpg);
  background-position: center;
  background-size: cover;
  grid-area: img2;
}

.prefooter3 {
  background-image: url(../multimedia/cuchilleriaguaschesca3.jpg);
  background-position: center;
  background-size: cover;
  grid-area: img3;
}

.footer {
  margin-top: 80px;
  background: rgb(37, 37, 37);
  display: grid;
  padding: 50px 0;
}

.footer__elementos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  width: 85%;
  margin: auto;
}

.footer__subtitles1 {
  margin-top: 35px;
}

.footer__subtitles1-title {
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer__subtitles1-title-sub1 {
  color: rgba(255, 255, 255, 0.8);
  line-height: 30px;
  margin-bottom: 0;
}

.footer__subtitles1-title-sub1:hover {
  cursor: pointer;
  color: #f0990c;
  transition: all 500ms;
}

.footer__subtitles1-title-sub2 {
  color: rgba(255, 255, 255, 0.8);
}

.footer__subtitles1-title-sub2:hover {
  cursor: pointer;
  color: #f0990c;
  transition: all 500ms;
}

.footer__subtitles2 {
  margin-top: 35px;
}

.footer__subtitles2-title {
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer__subtitles2-title-sub1 {
  color: rgba(255, 255, 255, 0.8);
  line-height: 30px;
}

.footer__subtitles2-title-sub1 p {
  margin-bottom: 0;
}

.footer__subtitles2-title-sub1:hover {
  color: #f0990c;
  transition: all 500ms;
  text-decoration: none;
}

.footer__subtitles2-title-sub2 {
  color: rgba(255, 255, 255, 0.8);
}

.footer__subtitles2-title-sub2:hover {
  color: #f0990c;
  transition: all 500ms;
  text-decoration: none;
}

.footer__subtitles3 {
  margin-top: 35px;
}

.footer__subtitles3-title {
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.footer__subtitles3-title-sub1 {
  color: rgba(255, 255, 255, 0.8);
  line-height: 30px;
  margin-bottom: 0;
}

.footer__subtitles3-title-sub2 {
  color: rgba(255, 255, 255, 0.8);
  line-height: 30px;
  margin-bottom: 0;
}

.footer__subtitles3-title-sub3 {
  color: rgba(255, 255, 255, 0.8);
  line-height: 30px;
  margin-bottom: 0;
}

.footer__redessociales {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 50px;
}

.footer__copyright {
  text-align: center;
  color: white;
  margin-top: 45px;
}

.footer__copyright span {
  color: #f0990c;
  text-transform: uppercase;
}

.fa-brands:hover {
  color: #f0990c;
  cursor: pointer;
  transition: all 500ms;
}

.subir {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #d2691e4d;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  padding: 10px;
}

.subir:hover {
  background-color: #b1622a;
  color: white;
}

/* Fin estilos index */

/* Inicio estilos cuchillos */
.cuchillos__title {
  margin-top: 80px;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  width: 85%;
  margin: auto;
}

#container__cuchillos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main__productos__cuchillos {
  width: 250px;
}

.main__productos__cuchillos img {
  width: 15rem;
}

.main__productos__cuchillos-title {
  text-transform: capitalize;
  text-align: center;
}

.main__productos__cuchillos-title:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}

.main__productos__cuchillos-precio {
  font-weight: bolder;
  margin-top: 5px;
  text-align: center;
}

#aside__cuchillos {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

/* Fin estilos cuchillos */
/* Inicio estilos otros-productos */
.otrosproductos h2 {
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.mates {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.mates-1 {
  width: 250px;
}
.mates-1 img {
  width: 16rem;
}
.mates-1-title {
  text-transform: capitalize;
  text-align: center;
}
.mates-1-title:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}
.mates-1-precio {
  font-weight: bolder;
  text-align: center;
}

.mates-2 {
  width: 250px;
}
.mates-2 img {
  width: 16rem;
}
.mates-2-title {
  text-transform: capitalize;
  text-align: center;
}
.mates-2-title:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}
.mates-2-precio {
  font-weight: bolder;
  text-align: center;
}

.mates-3 {
  width: 250px;
}
.mates-3 img {
  width: 16rem;
}
.mates-3-title {
  text-transform: capitalize;
  text-align: center;
}
.mates-3 .mates-3-title:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}
.mates-3-precio {
  font-weight: bolder;
  text-align: center;
}

.mates-4 {
  width: 250px;
}
.mates-4 img {
  width: 16rem;
}
.mates-4-title {
  text-transform: capitalize;
  text-align: center;
}
.mates-4-title:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}
.mates-4 .mates-4-precio {
  font-weight: bolder;
  text-align: center;
}

.mates-5 {
  width: 250px;
}
.mates-5 img {
  width: 16rem;
}
.mates-5-title {
  text-transform: capitalize;
  text-align: center;
}
.mates-5-title:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}
.mates-5 .mates-5-precio {
  font-weight: bolder;
  text-align: center;
}

.mates-6 {
  width: 250px;
}
.mates-6 img {
  width: 16rem;
}
.mates-6-title {
  text-transform: capitalize;
  text-align: center;
}
.mates-6-title:hover {
  cursor: pointer;
  color: rgba(210, 105, 30, 0.8);
  transition: all 500ms;
}
.mates-6 .mates-6-precio {
  font-weight: bolder;
  text-align: center;
}

/* Fin estilos otros-productos */
/* Inicio estilos contacto */
.main__contacto {
  background-color: white;
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.main__contacto__form {
  padding-top: 80px;
}

.main__contacto__form h1 {
  font-size: 30px;
  text-transform: uppercase;
  padding-bottom: 25px;
  width: 80%;
  margin: auto;
  font-weight: 500;
}

.main__contacto__form form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 80%;
  margin: auto;
}

.main__contacto__form input {
  border-radius: 15px;
  padding: 12px;
  border: rgba(51, 51, 51, 0.178) solid 1px;
  box-shadow: 0 2px 2px rgb(221, 221, 221);
}

.main__contacto__form textarea {
  border-radius: 15px;
  padding: 12px;
  border: rgba(51, 51, 51, 0.178) solid 1px;
  box-shadow: 0 2px 2px rgb(221, 221, 221);
}

.enviar {
  background-color: #c59e5e;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  margin-top: 50px;
  width: 20%;
}

.enviar:hover {
  background-color: #f0990c;
  cursor: pointer;
  transition: all 500ms;
}

.main__contacto__title {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

.main__contacto__title-logo {
  width: 12rem;
}

.main__contacto__title-h2 {
  text-transform: uppercase;
  padding: 20px 10px;
}

.main__contacto__title-p {
  padding-left: 15px;
  color: rgba(51, 51, 51, 0.753);
  line-height: 25px;
}

.main__contacto__title-redes {
  letter-spacing: 8px;
  font-size: 25px;
  border-top: rgba(51, 51, 51, 0.075) 2px groove;
  width: 70%;
  margin: 50px 0 0 12px;
  padding-top: 25px;
  color: rgba(51, 51, 51, 0.753);
}

.mapa {
  text-align: center;
  margin-top: 5rem;
}
/* Fin estilos contacto */
@media screen and (max-width: 1250px) {
  /* Inicio cuchillos */
  .cuchillos__title {
    width: 85%;
    margin: auto;
  }
  /* Fin cuchillos */
}
@media screen and (max-width: 1200px) {
  /* Inicio index */
  .main__envios-pagos {
    width: 100%;
  }
  /* Fin index */
  /* Inicio contacto */
  .enviar {
    width: 22%;
  }
  /* Fin contacto */
}
@media screen and (max-width: 1170px) {
  /* Inicio cuchillos */
  .cuchillos__title {
    width: 72%;
    margin: auto;
  }
  /* Fin cuchillos */
}
@media screen and (max-width: 1024px) {
  /* Inicio index */
  .main__envios-pagos {
    font-size: 15px;
  }
  .section__categorias__title {
    font-size: 26px;
  }
  .section__categorias1-img {
    width: 24rem;
  }
  .section__categorias1-p {
    font-size: 15px;
  }
  .section__categorias1-img:hover {
    transform: scale(1.02);
  }
  .section__categorias2-img {
    width: 24rem;
  }
  .section__categorias2-p {
    font-size: 15px;
  }
  .section__categorias2-img:hover {
    transform: scale(1.02);
  }
  .section__productos h4 {
    font-size: 26px;
  }
  .section__productos-productos {
    width: 100%;
    padding: 0 3px;
  }
  .section__productos-productos-1-img {
    width: 14rem;
  }
  .section__productos-productos-2-img {
    width: 14rem;
  }
  .section__productos-productos-3-img {
    width: 14rem;
  }
  .section__productos-productos-4-img {
    width: 14rem;
  }
  .section__productos-productos-1-title {
    font-size: 16px;
  }
  .section__productos-productos-2-title {
    font-size: 16px;
  }
  .section__productos-productos-3-title {
    font-size: 16px;
  }
  .section__productos-productos-4-title {
    font-size: 16px;
  }
  .nosotros h4 {
    font-size: 26px;
  }
  .nosotros__box1 {
    padding: 25px;
  }
  .nosotros__box2 {
    padding: 25px;
  }
  .nosotros__box3 {
    padding: 25px;
  }
  .footer__elementos {
    width: 90%;
  }
  /* Fin index */
  /* Inicio contacto */
  .enviar {
    width: 25%;
  }
  /* Fin contacto */
}
@media screen and (max-width: 992px) {
  /* Inicio index */
  .section__productos-productos-1-img {
    width: 13rem;
  }
  .section__productos-productos-2-img {
    width: 13rem;
  }
  .section__productos-productos-3-img {
    width: 13rem;
  }
  .section__productos-productos-4-img {
    width: 13rem;
  }
  .nosotros__box1-title {
    font-size: 18px;
  }
  .nosotros__box2-title {
    font-size: 18px;
  }
  .nosotros__box3-title {
    font-size: 18px;
  }
  .nosotros__box1-p {
    font-size: 16px;
  }
  .nosotros__box2-p {
    font-size: 16px;
  }
  .nosotros__box3-p {
    font-size: 16px;
  }
  /* Fin index */
}
@media screen and (max-width: 980px) {
  /* Inicio index */
  .section__productos-productos {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  /* Fin index */
  /* Inicio contacto */
  .enviar {
    width: 26%;
  }
  /* Fin contacto */
}
@media screen and (max-width: 950px) {
  /* Inicio index */
  .footer__elementos {
    width: 95%;
  }
  /* Fin index */
}
@media screen and (max-width: 928px) {
  /* Inicio index */
  .main__envios-pagos {
    font-size: 14px;
  }
  /* Fin index */
  /* Inicio contacto */
  .enviar {
    width: 28%;
  }
  /* Fin contacto */
}
@media screen and (max-width: 900px) {
  /* Inicio index */
  .footer__elementos {
    justify-items: center;
    width: 100%;
  }
  /* Fin index */
}
@media screen and (max-width: 868px) {
  /* Inicio index */
  .main__envios-pagos-1 {
    width: 70%;
  }
  .main__envios-pagos-2 {
    width: 70%;
  }
  .main__envios-pagos-3 {
    width: 70%;
  }
  .prefooter {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "img1" "img2" "img3";
  }
  .prefooter1 {
    grid-area: img1;
    min-height: 450px;
    background-position: center;
  }
  .prefooter2 {
    grid-area: img2;
    min-height: 450px;
  }
  .prefooter3 {
    grid-area: img3;
    min-height: 450px;
  }
  .section__categorias {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas: "titulo" "img1" "img2";
  }
  .section__categorias__title {
    grid-area: titulo;
  }
  .section__categorias1 {
    grid-area: img1;
  }
  .section__categorias2 {
    grid-area: img2;
  }
  .nosotros__box {
    display: grid;
    justify-items: center;
    gap: 25px;
    width: 70%;
  }
  .nosotros__box1 {
    padding: 25px 40px;
  }
  .nosotros__box2 {
    padding: 25px 40px;
  }
  .nosotros__box3 {
    padding: 25px 40px;
  }
  /* Fin index */
  /* Inicio contacto */
  .enviar {
    width: 30%;
  }
  /* Fin contacto */
}
@media screen and (max-width: 810px) {
  /* Inicio index */
  .footer__elementos {
    justify-items: normal;
  }
  .main__envios-pagos-1 {
    width: 80%;
  }
  .main__envios-pagos-2 {
    width: 80%;
  }
  .main__envios-pagos-3 {
    width: 80%;
  }
  /* Fin index */
  /* Inicio contacto */
  .enviar {
    width: 32%;
  }
  /* Fin contacto */
}
@media screen and (max-width: 760px) {
  /* Inicio index */
  .main__title{
    display: none;
  }
  .main__subtitle{
    display: none;
  }

  /* Fin index */
  /* Inicio cuchillos */
  .cuchillos__title {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  /* Fin cuchillos */
}
@media screen and (max-width: 705px) {
  /* Inicio index */
  .main__envios-pagos-1 {
    width: 85%;
  }
  .main__envios-pagos-2 {
    width: 85%;
  }
  .main__envios-pagos-3 {
    width: 85%;
  }
  /* Fin index */
  /* Inicio contacto */
  .enviar {
    width: 35%;
  }
  /* Fin contacto */
}
@media screen and (max-width: 665px) {
  /* Inicio index */
  .footer__elementos {
    width: 95%;
  }
  .main__envios-pagos {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 35%;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
  }
  .nosotros__box {
    width: 100%;
  }
  /* Fin index */
  /* Inicio contacto */
  .main__contacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 1fr;
  }
  .main__contacto__title {
    padding-top: 20px;
    margin-left: 58px;
  }
  .enviar {
    width: 22%;
  }
  .mapa {
    margin-top: 0;
  }
  /* Fin contacto */
}
@media screen and (max-width: 632px) {
  /* Inicio index */
  .main__envios-pagos-1 {
    width: 100%;
  }
  .main__envios-pagos-2 {
    width: 100%;
  }
  .main__envios-pagos-3 {
    width: 100%;
  }
  .prefooter {
    width: 85%;
  }
  /* Fin index */
}
@media screen and (max-width: 590px) {
  /* Inicio index */
  .footer__elementos {
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: 1fr 1fr;
    width: 90%;
  }
  /* Fin index */
  /* Inicio contacto */
  .main__contacto__title {
    margin-left: 50px;
  }
  /* Fin contacto */
}
@media screen and (max-width: 550px) {
  /* Inicio index */
  .main__envios-pagos {
    width: 40%;
  }
  .aside__nosotros2 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .prefooter {
    width: 90%;
  }
  /* Fin index */
  /* Inicio contacto */
  .main__contacto__title {
    margin-left: 45px;
  }
  /* Fin contacto */
}
@media screen and (max-width: 506px) {
  /* Inicio index */
  .section__productos-productos-1{
    width: 225px;
  }
  .section__productos-productos-2{
    width: 225px;
  }
  .section__productos-productos-3{
    width: 225px;
  }
  .section__productos-productos-4{
    width: 225px;
  }
  /* Fin index */
}
@media screen and (max-width: 500px) {
  /* Inicio index */
  .prefooter {
    width: 95%;
  }
  /* Fin index */
  /* Inicio contacto */
  .enviar {
    width: 25%;
  }
  /* Fin contacto */
}
@media screen and (max-width: 480px) {
  /* Inicio index */
  .section__productos-productos {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .section__productos-productos-1{
    width: 250px;
  }
  .section__productos-productos-2{
    width: 250px;
  }
  .section__productos-productos-3{
    width: 250px;
  }
  .section__productos-productos-4{
    width: 250px;
  }
  .main__img {
    display: none;
  }
  .main__img2 {
    display: block;
    width: 100%;
  }
  .main__envios-pagos {
    width: 45%;
  }
  /* Fin index */
}
@media screen and (max-width: 420px) {
  /* Inicio index */
  .main__envios-pagos {
    width: 50%;
  }
  .section__categorias1-img {
    width: 23rem;
  }
  .section__categorias2-img {
    width: 23rem;
  }
  .nosotros__box1 {
    background-image: none;
    border: 10px ridge #502d1a;
    padding: 25px 25px;
  }
  .nosotros__box2 {
    background-image: none;
    border: 10px ridge #502d1a;
    padding: 25px 25px;
  }
  .nosotros__box3 {
    background-image: none;
    border: 10px ridge #502d1a;
    padding: 25px 25px;
  }
  .prefooter1 {
    max-height: 400px;
    min-height: 400px;
  }
  .prefooter2 {
    max-height: 400px;
    min-height: 400px;
  }
  .prefooter3 {
    max-height: 400px;
    min-height: 400px;
  }
  /* Fin index */
  /* Inicio contacto */
  .main__contacto__form h1 {
    width: 90%;
  }
  .main__contacto__form form {
    width: 90%;
  }
  .main__contacto__title {
    margin-left: 12px;
  }
  .enviar {
    width: 30%;
  }
  /* Fin contacto */
}
@media screen and (max-width: 412px) {
  /* Inicio index */
  .aside__nosotros2 {
    gap: 20px;
  }
}
@media screen and (max-width: 394px) {
    .footer__elementos{
      width: 95%;
    }
     /* Fin index */
}
@media screen and (max-width: 380px) {
  /* Inicio index */
  .prefooter1 {
    max-height: 360px;
    min-height: 360px;
  }
  .prefooter2 {
    max-height: 360px;
    min-height: 360px;
  }
  .prefooter3 {
    max-height: 360px;
    min-height: 360px;
  }
  .footer__elementos {
    grid-template-columns: 1fr;
  }
  /* Fin index */
  /* Inicio contacto */
  .main__contacto__title {
    margin-left: 1px;
  }
  /* Fin contacto */
}
@media screen and (max-width: 320px) {
  /* Inicio index */
  .main__envios-pagos {
    width: 60%;
  }
  .section__categorias1-img {
    width: 18rem;
  }
  .section__categorias2-img {
    width: 18rem;
  }
  /* Fin index */
}
@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}